NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_API_URL=https://dev-api.poyo.ai
NEXT_PUBLIC_PAYMENT_API_URL=https://dev-api.poyo.ai
NEXT_PUBLIC_GITHUB_CLIENT_ID=
NEXT_PUBLIC_DEV_BYPASS_AUTH=true
NEXT_PUBLIC_DEV_AUTH_TOKEN=
NEXT_PUBLIC_DEV_USER_EMAIL=
NEXT_PUBLIC_DEV_USER_NAME=
NEXT_PUBLIC_DEV_USER_CREDITS=999999



